{% extends 'inventory/base.html' %}

{% block content %}

<div class="card border-0 shadow-sm mb-4">

    <div class="card-body">

        <h2>
            Issue Asset
        </h2>

        <p class="text-muted mb-0">

            Assign inventory items to staff members and automatically record stock-out transactions.

        </p>

    </div>

</div>
<hr>

<div class="card">

    <div class="card-body">

        <h4>{{ item.name }}</h4>

        <p>
            Available Quantity:
            <strong>{{ item.quantity }}</strong>
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
            class="btn btn-primary">

            <i class="fas fa-user-check"></i>

            Issue Asset

            </button>

        </form>

        <div class="card border-0 shadow-sm mt-4">

    <div class="card-body">

        <h5>
            Recent Asset Assignments
        </h5>

        <table class="table table-hover">

            <thead>

                <tr>

                    <th>Date</th>
                    <th>Item</th>
                    <th>Assigned To</th>
                    <th>Department</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                {% for assignment in assignments %}

                <tr>

                    <td>
                        {{ assignment.assigned_date|date:"M d, Y" }}
                    </td>

                    <td>
                        {{ assignment.item.name }}
                    </td>

                    <td>
                        {{ assignment.assigned_to }}
                    </td>

                    <td>
                        {{ assignment.department }}
                    </td>

                    <td>

                        <span class="badge bg-success">

                            {{ assignment.status }}

                        </span>

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="5">

                        No assignments found

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>
    </div>

</div>

{% endblock %}